*{margin: 0;padding: 0;
box-sizing: border-box;}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #ffc62d, #ffffff);
}

.header{width: 100%;
    background-image: linear-gradient(to right, #ffc62d, #ffffff);
    height: 80px;
    border-radius: 16px;
    border: 1px solid black !important;

}

/*deixa a letra em negrito quando o cursor passa por cima*/
.nav-link:hover{color: black;  font-weight: bold !important;}
@media(max-width:668px){
    .nav-link{text-align: center;}
}
.rounded-pill{
    position: absolute;
     top: 0;
    left: 0;
  right: 0 !important;
}

.login-button{
    background-color: black;
    color: #ffc62d;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'inter', sans-serif;
}

table {
    width: 100%;
    border-radius: 50px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.container{
    width: 80%;
    height: 80vh;
    box-shadow: 5px 5px 10px rgba(0,0,0,.212);
    background-color: #fff;
    border-radius:50px;
    border: solid black;
    
}

.title{
    text-align: center;
    background-image: linear-gradient(to right, #ffc62d, #ffffff);
    border-radius: 50px;
}
